<p>This is the partial for view 1.</p>

Name: <br />
<input type="text" data-ng-model="name" /> {{ name }}
<br />

<div class="container"
    data-ng-init="names=['Dave', 'Napur', 'Heedy', 'Shriva']">
    <h3>Looping with the ng-repeat Directive</h3>
    <ul>
        <li data-ng-repeat="personName in names">{{ personName }}</li>
    </ul>
</div>
<br />

Name Text: <br />
<input type="text" data-ng-model="filter.name" /> {{ name }}
<br />

<div class="container">
    <h3>Looping with the ng-repeat Directive</h3>
    <ul>
        <li data-ng-repeat="cust in customers | filter:filter.name" | orderBy:'name'">{{ cust.name | uppercase }} - {{ cust.city }}</li>
    </ul>
</div>
<br />

Name: <br />
<input type="text" data-ng-model="newCustomer.name" />
<br />
<br />

City: <br />
<input type="text" data-ng-model="newCustomer.city" />
<br />
<button data-ng-click="addCustomer()">Add Customer</button>