<div class="c-reader">
  <h3>Thank you to the following</h3>
  <ul>
    <li>Quick initial AngularJS Seed Setup<a href="https://github.com/angular/angular-seed">https://github.com/angular/angular-seed</a></li>
    <li>Reveal Animation: <a href="https://freefrontend.com/css-border-animations/">https://freefrontend.com/css-border-animations/</a></li>
    <li>Favicon Generator<a href="https://favicon.io/favicon-generator/">https://favicon.io/favicon-generator/</a></li>
  </ul>

  <h3>Code pushed on github</h3>
  <a href="https://github.com/arvinjaysontamayocastro/application-demo">https://github.com/arvinjaysontamayocastro/application-demo</a>
</div>