<div class="c-sidebar">
  <h3>Hi! AO Here.</h3>
  <p>In conjunction with my application, here is a simple game created from scratch with passion, implementing the following.</p>
  <ul>
    <li>AngularJS (version 1.7.5)</li>
    <li>Code pushed on github, See <a href="/read-view">Read Me</a></li>
    <li>Hosted with AWS S3</li>
    <li>Pipeline Setup for CI/CD, latest push Today June 11, 2025</li>
  </ul>
  <h4>Further more, AngularJS, Javascript, CSS< HTML powers used:</h4>
  <ul>
    <li>Routing, $location.path() for active location</li>
    <li>.service, .factory, .component</li>
    <li>localStorage .getItem, setItem</li>
    <li>Object.freeze for ENUM</li>
    <li>$scope .$broadcast, .on</li>
    <li>helpers crypto.getRandomValues</li>
    <li>constructor</li>
    <li>$timeout</li>
    <li>$scope</li>
    <li>class (js class)</li>
    <li>ng-class, ng-style</li>
    <li>css animations, mediaqueries</li>
  </ul>
  <p>Thank you and hope you have fun, see you</p>
</div>